% ========================================================================
% ||                            METODY                                   ||
% ========================================================================
\vspace*{0mm}       %  enables space between newpage and section 
\section{<< section >>}  % 2TRANSLATE
\medskip{}
<< tex >>
<< newpage >>
