% ========================================================================
% ||                            ZAVER                                   ||
% ========================================================================
\section{Závěr}

\setstretch{1.1}
\medskip

Vzorek \textbf{V1} obsahuje vrstvu  
Vzorek \textbf{V2} obsahuje vrstvu  
Vzorek \textbf{V3} obsahuje vrstvu  
Vzorek \textbf{V4} obsahuje vrstvu  
Vzorek \textbf{V5} obsahuje vrstvu  
Vzorek \textbf{V6} obsahuje vrstvu  
Vzorek \textbf{V7} obsahuje vrstvu  
Vzorek \textbf{V8} obsahuje vrstvu  
Vzorek \textbf{V9} obsahuje vrstvu  
Vzorek \textbf{V10} obsahuje vrstvu  

Ve vzorku \textbf{V1} byla zachycena vrstva  

Nejstarší povrchová úprava zachycená ve vzorku \textbf{V1} má odstín

Podle mikrochemických zkoušek vrstvy obsahují olejové pojivo. 

Přehled použití vybraných pigmentů je uvedený v následující tabulce.

\bigskip{}



\medskip{}




\iffalse{}

% \input{blocks/ref/pigments}




<# 
%~ \textbfegin{multicols}{2}
%~ \imca{blocks/ref/kuhn/blue.jpg}{Použití modrých pigmentů v~malbě \cite{kuhn} }{\linewidth}{.97\linewidth}{.97\linewidth}{}
%~ \imca{blocks/ref/kuhn/green.jpg}{Použití zelených pigmentů v~malbě \cite{kuhn} }{\linewidth}{.97\linewidth}{.97\linewidth}{}
%~ \imca{blocks/ref/kuhn/red.jpg}{Použití červených pigmentů v~malbě \cite{kuhn} }{\linewidth}{.97\linewidth}{.97\linewidth}{}
%~ \imca{blocks/ref/kuhn/yellow.jpg}{Použití žlutých pigmentů v~malbě \cite{kuhn} }{\linewidth}{.97\linewidth}{.97\linewidth}{}
%~ \imca{blocks/ref/kuhn/white.jpg}{Použití bílých pigmentů v~malbě \cite{kuhn} }{\linewidth}{.97\linewidth}{.97\linewidth}{}
%~ \end{multicols}
#>


Podle mikrochemických zkoušek vrstvy obsahují olejové pojivo. Přehled historie použití vybraných pigmentů je uvedený v následující tabulce.

Přehled použití vybraných pigmentů je uvedený v následující tabulce. 

%~ Obrazy

Závěrečné zhodnocení by měl provést historik umění. 

Vzorky neobsahují olovnatou bělobu ani síran olovnatý. 

Nejstarší vrstvy obsahují pigmenty používané na počátku 20. století. Vrchní vrstvy, které jsou podle lakové mezivrstvy druhotné, obsahují moderní pigmenty. 

%~ Titanová běloba

\cite[s.~295]{artpigm3}, \cite[s.~89]{scipaint}, \cite[s.~273]{Craddock2009}

Vrstvy s obsahem titanové běloby jsou mladší než z roku 1920 (použitou metodou není možné rozlišit anatasovou a rutilovou formu titanové běloby). \cite[s.~295]{artpigm3}, \cite[s.~89]{scipaint}

Titanová běloba anatasového typu se vyrábí od roku 1919; do roku 1923 byly k dispozici pouze směsné pigmenty kombinující anatas a síran barnatý. Rutilová forma titanové běloby se vyrábí od roku 1939. \cite{artpigm3,scipaint}

Studie provedená ve sbírce Národní galerie Praha prokázala výskyt anatasové formy titanové běloby v dílech od roku 1928 a rutilové formy titanové běloby až v obrazech datovaných do roku 1965 a 1968, ve starších dílech nalezena nebyla. \cite{vsefcuu2022originals} 

%~ Anatas

Vzorek obsahuje titanovou bělobu anatasového typu - pigment vyráběný od roku 1919 a v malbě používaný přibližně od poloviny dvacátých let. \cite[s.~295]{artpigm3}, \cite[s.~89]{scipaint}

Oba vzorky obsahují titanovou bělobu anatasového typu - pigment vyráběný od roku 1919 a v malbě používaný přibližně od poloviny dvacátých let. \cite[s.~295]{artpigm3}, \cite[s.~89]{scipaint}, \cite[s.~273]{Craddock2009}

Titanová běloba anatasového typu se vyrábí od roku 1919 a do roku 1923 byly k dispozici pouze směsné pigmenty kombinující anatas a síran barnatý.\cite{scipaint,artpigm3}

Studie R. Šefců a V. Antuškové provedená ve sbírce Národní galerie v Praze prokázala první výskyt titanové běloby v dílech z roku 1928\cite[s.~1483]{vsefcuu2022originals}

%~ Rutil

Rutilová forma titanové běloby se vyrábí od roku 1939.

Studie provedená ve sbírce Národní galerie Praha prokázala výskyt rutilové formy titanové běloby až v obrazech datovaných do roku 1965 a 1968, ve starších dílech nalezena nebyla. \cite[s.~1483]{vsefcuu2022originals} 

%~ Vanadičnan bismutitý

Žlutý vanadičnan bismutitý identifikovaný ve vzorku 3 je moderní syntetický pigment vyráběný od roku 1985. \cite[s.~307]{nassau}

Žlutý vanadičnan bismutitý identifikovaný ve vzorku V3 je pigment vyráběný od roku 1985. \cite{nassau}[s.~307]

%~ Ftalocyaninová zeleň
Ftalocyaninová zeleň je organický pigment vyráběný od roku 1936. V uměleckých barvách byl v prodeji od roku 1939 v Anglii a 1940 v Holandsku. \cite[s.~285]{Craddock2009} 

%~ Ftalocyaninová modř
Ramanova spektra modrého barviva ve vzorku V2 (viz příloha 2) se přesně shodují s ftalocyaninovou modří v krystalické modifikaci β (označení PG15:4) — pigment patentovaný v roce 1953. \cite{Craddock2009,defeyt2012contribution,defeyt2014pb15}

%~ Omítky

Oba vzorky obsahují narůžovělý vápenný štuk plněný pískem se shodnou granulometrickou křivkou, s velikostí zrn kameniva 0—2 mm. Obsah vápenného pojiva odpovídá přípravě malty ve hm. poměru 1 díl vápenné kaše : 3,3 dílu písku.

\begin{center}
\imca{img/granu.pdf}{Porovnání granulometrie vzorků}{.7\linewidth}{\linewidth}{.9\linewidth}
\end{center}

% ZDROJE
 
https://scientificarttests.com/painting-pigment-analysis.html

%~ Symbols 

— 

%~ Snippets

\textbf{Vzorek 1} obsahuje fragment podložky s příměsí barytové a titanové běloby a tenkou žlutou vrstvu pigmentovanou olovnatou a barytovou bělobou, kadmiovou a zinkovou žlutí a příměsí kobaltové modři a zinkové žluti. Ve \textbf{vzorku 2} byly zachyceny fragmenty podložky a tenké modré vrstvy s olovnatou a zinkovou bělobou, pruskou modří a zinkovou žlutí. \textbf{Vzorek 3} obsahuje fragment žluté vrstvy pigmentované olovnatou, zinkovou, barytovou a titanovou bělobou, vanadičnanem bismutitým a příměsí křídy a železité červeně.

\textbf{Vzorek 4} obsahuje fragment podložky a tenkou modrou vrstvu s titanovou, barytovou a zinkovou bělobou a pruskou modří. \textbf{Vzorek 5} obsahuje fragment podložky a tenkou žlutou vrstvu pigmentovanou kadmiovou žlutí, zinkovou a titanovou bělobou a příměsí kostní černi a železité červeně. \textbf{Vzorek 6} obsahuje fragment podložky a tenkou červenou vrstvu se zinkovou, barytovou a titanovou bělobou, kadminovou žlutí, železitou červení a příměsí ultramarínu a kostní černi. Povrch kryje tenká vrstva laku.

\fi

